@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="bold font-raleway wow fadeInUp animated">
        <h2 class="fs-55 fw-400 text-center">PROFILE SETTINGS</h2>
    </div>

</div>


<script>
    let customer = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.customer))');
    GetDataCustomer(customer);

    function profileUpDate() {
        var profileUpDate = {
            company_name: $('#company_name').val(),
            full_name_of_company_contact: $('#full_name_of_company_contact').val(),
            company_contact_phone: $('#company_contact_phone').val(),
            email_of_company_contact: $('#email_of_company_contact').val(),
            company_description: $('#company_description').val(),
            full_name_of_service_technical_authority: $('#full_name_of_service_technical_authority').val(),
            technical_authority_phone_for_service_: $('#technical_authority_phone_for_service_').val(),
            technical_manager_email_for_service: $('#technical_manager_email_for_service').val()
        };

        $.ajax({
            url: 'https://localhost:5001/api/Profile',
            type: 'PUT',
            data: JSON.stringify(data),
            headers: {
                "Access-Control-Allow-Origin": "*",
                "Access-Control-Allow-Methods": "HEAD, GET, POST, PUT, PATCH, DELETE",
                "Access-Control-Allow-Headers": "Content-Type, Access-Control-Allow-Headers, Authorization, X-Requested-With",
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (result) {
                alert('Your profile was successfully updated!');
                <img src="https://img.icons8.com/color/100/000000/confetti.png" />
                return false;
            }
        });
        return false;
    }
</script>

<!-- /.card-header -->
<!-- form start -->
<form action="" onsubmit="return updateCustomer();" id="customerForm">
    <div id="quote_form" class="container">
        <div class="row">
            <div id="typeChoice" class="col-md-12 form-group">

                <script>
                    let customer = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.customer))');
                </script>

                <label for="company_name">Company Name</label>
                <input required type="text" value="@ViewBag.customer.company_name" class="form-control" name="company_name" id="settings_company_name">
                <br />

                <label for="full_name_of_company_contact">Company's Contact Name</label>
                <input required type="text" value="@ViewBag.customer.full_name_of_company_contact" class="form-control" name="full_name_of_company_contact" id="settings_full_name_of_company_contact">
                <br />

                <label for="company_contact_phone">Company's Contact Phone</label>
                <input required type="text" value="@ViewBag.customer.company_contact_phone" class="form-control" name="company_contact_phone" id="settings_company_contact_phone">
                <br />

                <label for="email_of_company_contact">Company's Contact Email</label>
                <input required type="text" value="@ViewBag.customer.email_of_company_contact" class="form-control" name="email_of_company_contact" id="settings_email_of_company_contact">
                <br />

                <label for="company_description">Company's Description</label>
                <input required type="text" value="@ViewBag.customer.company_description" class="form-control" name="company_description" id="settings_company_description">
                <br />

                <label for="full_name_of_service_technical_authority">Support Contact Name</label>
                <input required type="text" value="@ViewBag.customer.full_name_of_service_technical_authority" class="form-control" name="full_name_of_service_technical_authority" id="settings_full_name_of_service_technical_authority">
                <br />

                <label for="technical_authority_phone_for_service_">Support Contact Phone</label>
                <input required type="text" value="@ViewBag.customer.technical_authority_phone_for_service_" class="form-control" name="technical_authority_phone_for_service_" id="settings_technical_authority_phone_for_service_">
                <br />



                <label for="technical_manager_email_for_service">Support Contact Email</label>
                <input required type="text" value="@ViewBag.customer.technical_manager_email_for_service" class="form-control" name="technical_manager_email_for_service" id="settings_technical_manager_email_for_service">
                <br />


                <div class="row">
                    <!--submit-->
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" id="btnProfile"><i class="fa fa-check"></i> SUBMIT MODIFICATIONS </button>
                        <br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
